<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Upload Result</title>
<style>
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	text-align:center;
	margin:10px;
}

h3 {
	text-align: center;
	padding: 1em;
}
</style>
<link rel="stylesheet" href="./style.css" />
</head>

<body>

	Description:
	<span th:utext="${description}"></span>
	<br />
	<h3>Uploaded Report:</h3>

	<ul th:each="file : ${uploadedFiles}">
		<li th:utext="${file}"></li>
	</ul>


</body>

</html>